# Ignore PYcache
__pycache__/

# Ignore VSCODE
.vscode/

# Ignore Saved Models
light_custom_models/

# Ignore ART
adversarial-robustness-toolbox/

# Cyclical lr routines
CLR/
LRFinder/

# Ignore computed Adversarial Examples
attacks/

# Keep only thesis and presentation
thesis/*
!thesis/thesis_defense_169.pptx
!thesis/thesis.pdf
!thesis/thesis.tex


# Ignore utility files
*.log
tmp.* 
